body {
  /* her overskriver vi body elementets default margin */
  margin: 0px;
}

img {
  /*
   * Bilder har en oppløsning som blir til bredden på bildet.
   * Her setter vi den til bredden på foreldre kontaineren
   */
  width: 100%;
}

/* De to påfølgende brukes for den overordnede layouten */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
body > * {
  /* Bruker denne for å sett konsis padding på alle direkte barn av body elementet */
  padding: 0px 1rem;
}

/* Litt mer individuell styling */
.navbar {
  /* Layout */
  display: flex;
  justify-content: space-between;

  background-color: rgb(215, 125, 92);
}

.main {
  background-color: rgb(213, 217, 222);
}

.footer {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(249, 200, 74);
}
